.test {
  position: relative;
  margin-top: 60px !important;
  height: 120px; 
  padding: 10px 0;
  max-width: 1400px;
  display: flex;
  overflow: hidden;
  height: 70px;
}

.drone-img-container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  background-image: url("../../assets/img/navbar-background.png");
  background-repeat: no-repeat;
  background-size: cover;top: 0;
  left: 0;
  width: 100%;

  & .navbar-drone-img {
    width: 17rem;
    height: 9rem;
  }
}


@media (width > 768px) { 

  .drone-img-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    top: 60px;
  
    & .navbar-drone-img {
      width: 35rem;
      height: 14rem;
    }
  }
}