.caja {
  width: 100%;
  height: 1300px;
  background-color: red;
}

.caja2 {
  width: 100%;
  height: 1300px;
  background-color: blue;
}

.navbar-container {
  z-index: 1;
  top: 0;
  height: 70px;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-image: url("../../assets/img/navbar-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.first-divisor-container,
.second-divisor-container,
.third-divisor-container {
  padding-top: 10px;
  top: 0;
  bottom: 0;
  transform-origin: top left;
}

.first-divisor-container {
  width: 46%;
  max-width: 675px;
  padding-left: 7px;
}

.second-divisor-container {
  width: 10%;
}

.third-divisor-container {
  width: 50%;
}

.assistant-group-container {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);

  & .drone-icon {
    width: 2.3rem;
  }

  & .assistant-group {
    font-size: 12px;
    vertical-align: top;
  }
}

.options-menu  {  
  & svg {
    padding: 0 7px;
  }
}

.mobile-menu {
  margin: 2px auto;
  display: flex;
  width: 98px;
  flex-direction: column;
  background-color: #e0dddd;
  padding: 2px 5px;
  border-radius: 3px;
  text-align: right;
}

.menu-option {
  padding: 0 7px;
}

.menu-option:hover {
  font-weight: 700;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: flex;
}

.hamburger-menu {
  display: inline;
  cursor: pointer;
}

@media (width > 768px) {

  .second-divisor-container{
    min-width: 100px;    
  }

  .hamburger-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    padding: 0 20px;
  }

  .mobile-menu {
    display: none;
  }
}