@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;600&family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* fonts */
  --font-jura: 'Jura', sans-serif;

  /* colors */
  --main: #F6F6F6;
  --secondary: #285530;
  --subsidiary: #41864D;

  /* navbar color */
  --light-grayish-blue: #D3DBD4;

  --top: #37A63D;
  --sale: #CE0202;

  /* images url*/
  --mobile-background: url("../../assets/img/navbar-background-mobile.png");
  --desktop-background: url("../../assets/img/navbar-background.png");
}