@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;600&family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  /* fonts */
  --font-jura: 'Jura', sans-serif;

  /* colors */
  --main-color: #F6F6F6;
  --secondary-color: #285530;
  --subsidiary-color: #41864D;
}