.products {
  padding: 1rem;

  &__selected {
    border-bottom: 1px solid #41864D;
    padding-bottom: 1px;
    color: #41864D;
  }

  &__selling {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &-labels {
      display: flex;
      gap: 7px;
    }
  }

  &__top-selling-label,
  &__sale-label,
  &__see-all-label {
    font-size: 13px;
    font-weight: 600;
  }

  & svg {
    padding: 0 5px;
    font-size: 12px;
  }
}