.btn-primary,
.btn-secondary {
  margin: 15px 0;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.btn-primary:disabled,
.btn-secondary:disabled {
  background-color: #d3dbd4;
  color: #b2b3b3;
  pointer-events: none;
}

.btn-primary::before,
.btn-secondary::before {
  border-radius: 7px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
  z-index: -2;
}

.btn-primary::after,
.btn-secondary::after {
  border-radius: 7px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
  z-index: -2;
}

.btn-primary:hover,
.btn-secondary:hover {
  cursor: pointer;
}

.btn-primary:hover::before,
.btn-primary:hover::after,
.btn-secondary:hover::before,
.btn-secondary:hover::after {
  transform: scaleX(1);
}

.btn-primary:active::before,
.btn-primary:active::after,
.btn-secondary:active::before,
.btn-secondary:active::after {
  transform: scaleX(0);
  transition-duration: 0s;
}

.btn-primary {
  background-color: #DDECDE;
  color: var(--secondary-color);
}

.btn-primary::after {
  background-image: linear-gradient(to right, #67BB6C, transparent, transparent);
}

.btn-primary::before {
  background-image: linear-gradient(to left, #67BB6C, transparent, transparent);
}

.btn-primary:active {
  background-color: #41864D;
  color: #fff;
  background-image: none;
}

.btn-secondary {
  background-color: #41864D;
  color: #fff;
}

.btn-secondary::after {
  background-image: linear-gradient(to right, #104414, transparent, transparent);
}

.btn-secondary::before {
  background-image: linear-gradient(to left, #104414, transparent, transparent);
}

.btn-secondary:active {
  background-color: #0F541B;
  background-image: none;
}