.custom-select {
  position: relative;
  width: 187px;
  margin: 0 auto;
  color: black;

  .select-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 2px solid #ccc;
    border-color: var(--subsidiary);
    background-color: #fff;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: border-color 0.3s ease;
  }

  .select-box.open {
    .arrow-down {
      position: absolute;
      right: 20px;
      top: 30px;
      transform: translateY(-50%) rotate(180deg);
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border-top: none;
    border-color: #28572D;
    border-bottom: 3px solid #ccc;
    background-color: #fff;
    list-style: none;
    padding-left: 0;
    margin: 0;
    transition: opacity 0.3s ease;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }

    .option {
      padding: 8px 12px;
      cursor: pointer;
      background-color: #ebebeb;

      &.selected {
        font-weight: 600;
        background-color: #F6F6F6;
      }
      
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
