.footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  
  & * {
    color: var(--main);
  }

  &__arrow {
    padding: 0 3px;
    font-size: 15px;
  }

  &__menu-and-support {
    width: 12rem;
    text-align: start;
  }

  &__menu {
    
    &-toggle {
      width: 12rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
    }

    &-item {
      padding: 5px 0;
      cursor: pointer;
      transition: transform 0.1s ease-out;
      
      &:hover {
        transform: scale(1.01);
      }
    }
  }

  &__info {
    padding: 14px 0;
    display: flex;
    flex-direction: column;

    & span {
      padding: 2px 0;
    }
  }

  &__brand {
    cursor: pointer;
    padding: 7px;
    font-size: 23px;
    transition: transform 0.1s ease-out;

    &:hover {
      transform: scale(1.07);
    }
  }
}