.header {
  z-index: 2;
  position: sticky;
  top: 0px;
  width: 100%;
  padding: 0;
  background-image: var(--mobile-background);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;

  &__menu {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
  }
}

.first-divisor-container,
.second-divisor-container,
.third-divisor-container {
  padding-top: 10px;
  top: 0;
  bottom: 0;
  transform-origin: top left;
}

.first-divisor-container {
  width: 46%;
  max-width: 675px;
  padding-left: 7px;
}

.second-divisor-container {
  width: 10%;
}

.third-divisor-container {
  width: 50%;
}

.assistant-group-container {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);

  & .drone-icon {
    width: 2.3rem;
  }

  & .assistant-group {
    font-size: 12px;
    vertical-align: top;
  }
}

.options-menu  {
  padding: 0 7px;
  text-align: end;

  & svg {
    padding: 0 7px;
    color: var(--main);
  }
}

.mobile-menu {
  position: absolute;
  right: 12px;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  width: 98px;
  background-color: #e0dddd;
  padding: 2px 5px;
  border-radius: 3px;
  text-align: right;
}

.menu-option {
  padding: 0 7px;
}

.menu-option:hover {
  font-weight: 700;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: flex;
}

.hamburger-menu {
  display: inline;
  cursor: pointer;
}

@media (width > 768px) {

  .header {
    background-image: var(--desktop-background);
  }

  .second-divisor-container{
    min-width: 100px;    
  }

  .hamburger-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    padding: 0 20px;
  }

  .mobile-menu {
    display: none;
  }
}